<div class="menulaterale">
    <h3><a href="app-anagrafica-taglia">Anagrafica taglia</a></h3>
    <h3><a href="app-anagrafica-colori-galli">Anagrafica Colori</a></h3>
    <h3><a href="app-anagrafica-utente-registrato">Anagrafica utente registrato</a></h3>
    <h3><a href="app-associa-colori-a-prodotti">Associa i colori ai prodotti</a></h3>
    <h3><a href="app-paginate-component">Paginate</a></h3>
    <h3><a href="app-associa-taglie-prodotti-colori">Associa taglie a prodotti e colori</a></h3>
    <h3><a href="app-anagrafica-prodotto">Anagrafica prodotto</a></h3>
</div>

<div class="contenuto">
    <br><br>
    <button class="pulsante" (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf='form'>
        <input type="text" placeholder="Nome" [(ngModel)]="utente.nome" [disabled]="codiceC">
        <input type="text" placeholder="Cognome" [(ngModel)]="utente.cognome" [disabled]="codiceC">
        <input type="text" placeholder="UserName" [(ngModel)]="utente.username" [disabled]="codiceC">
        <input type="password" placeholder="Password" [(ngModel)]="utente.password" [disabled]="codiceC">
        <input type="text" placeholder="Codice Fisclale" [(ngModel)]="utente.codiceFiscale" [disabled]="codiceC">

        <br><br>
        <button class="pulsante" (click)="modifica()" *ngIf="edit">Modifica</button>
        <button class="pulsante" (click)="conferma()" *ngIf="conf">Conferma</button>
        <button class="pulsante" (click)="annulla()" *ngIf="annull">Annulla</button>
        <button class="pulsante" (click)="rimuovi()" *ngIf="remove">Rimuovi</button>
    </div>
    <h4>{{errore}}</h4>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Criterio Ricerca" [(ngModel)]="inputRicerca">
        <button class="pulsante" (click)="cerca()">Cerca</button>
        <br>
    </div>
    <br><br>

    <div class="tabella" *ngIf="listaUtenti.length > 0">
        <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine" (primo)="primoE($event)"
            (precedente)="precedenteE($event)" (numero)="numeroE($event)" (successivo)="successivoE($event)"
            (ultimo)="ultimoE($event)"></app-app-paginate>

        <br>
        <table *ngIf="tabella">
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>UserName</th>
                <th>CodiceFiscale</th>
                <th>Seleziona</th>
            </tr>
            <tr *ngFor="let l of listaUtenti">
                <td>{{l.nome}}</td>
                <td>{{l.cognome}}</td>
                <td>{{l.username}}</td>
                <td>{{l.codiceFiscale}}</td>
                <td> <button class="pulsante" (click)="seleziona(l)">Seleziona</button></td>
            </tr>
        </table>
        <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine" (primo)="primoE($event)"
            (precedente)="precedenteE($event)" (numero)="numeroE($event)" (successivo)="successivoE($event)"
            (ultimo)="ultimoE($event)"></app-app-paginate>
    </div>