<div class="menulaterale">
   <h3><a href="app-anagrafica-taglia">Anagrafica taglia</a></h3>
    <h3><a href="app-anagrafica-colori-galli">Anagrafica Colori</a></h3>
    <h3><a href="app-anagrafica-utente-registrato">Anagrafica utente registrato</a></h3>
    <h3><a href="app-associa-colori-a-prodotti">Associa i colori ai prodotti</a></h3>
    <h3><a href="app-paginate-component">Paginate</a></h3>
    <h3><a href="app-associa-taglie-prodotti-colori">Associa taglie a prodotti e colori</a></h3>
    <h3><a href="app-anagrafica-prodotto">Anagrafica prodotto</a></h3>
</div>
<div class="contenuto">
    <hr>
    <div class="titolo">
        <h1>Ammazzon</h1>
    </div>
    <div class="row"> 
        <div class="column">
          <img src="/assets/css/1.jpg" width="50%">
          <img src="/assets/css/2.jpg" width="50%">
          <img src="/assets/css/6.jpg" width="50%">
          <img src="/assets/css/8.jpg" width="50%">
        </div>
        <div class="column">
        </div>
    </div>
</div>