@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body, h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
}

.flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form>* {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    flex-basis: 500px;
}

