@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
* {
    box-sizing: border-box;
}

/* stile della navigazione laterale */

.menulaterale {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orangered;
    overflow-x: hidden;
}

/* Collegamenti di navigazione laterali */

.menulaterale a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Cambia colore al passaggio del mouse */

.menulaterale a:hover {
    background-color: #ddd;
    color: black;
}

/* Stile del contenuto */

.contenuto {
    margin-left: 200px;
    padding-left: 20px;
}


/* Stile titolo */

.titolo {
    font-family: "Trirong", serif;
    font-size: 30px;
    text-align: center;
}

/* Stile immagini */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Layout reattivo: crea un layout a due colonne*/

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 60%;
    }
}

/* Stile colanna immagini */

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1%;
}

/* Stile pulsanti */

.pulsante {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0.5%;
  }
  
  /* Stile pulsante colore di sfondo */

  .pulsante:hover {background-color: blue}
  
  .pulsante:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* Stile text-area */

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 15px;
  }
  
  /* Stile text area colore di sfondo */

  input[type=text]:focus {
    background-color: #ddd;
    color: black;
  }

.colonne{
    column-count: 3;
    column-gap: 60px;
    column-rule: solid black;
  }
