<!-- menu -->
<div class="menulaterale">
    <h3><a href="app-home-page">Home</a></h3>
    <h3><a href="app-anagrafica-taglia">Anagrafica taglia</a></h3>
    <h3><a href="app-anagrafica-colori-galli">Anagrafica Colori</a></h3>
    <h3><a href="app-anagrafica-utente-registrato">Anagrafica utente registrato</a></h3>
    <h3><a href="app-associa-colori-a-prodotti">Associa i colori ai prodotti</a></h3>
    <h3><a href="app-paginate-component">Paginate</a></h3>
    <h3><a href="app-associa-taglie-prodotti-colori">Associa taglie a prodotti e colori</a></h3>
    <h3><a href="app-anagrafica-prodotto">Anagrafica prodotto</a></h3>
</div>
<br><br>
<div class="contenuto">
    <hr>
    <br><br>
    <button class="pulsante" (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf='form'>
        <input type="text" placeholder="codice" [(ngModel)]="prodotto.codice" [disabled]="codiceC">
        <input type="text" placeholder="descrizione" [(ngModel)]="prodotto.descrizione" [disabled]="codiceC">
        <input type="text" placeholder="prezzo" [(ngModel)]="prodotto.prezzo" [disabled]="codiceC">

        <br><br>
        <button class="pulsante" (click)="modifica()" *ngIf="edit">Modifica</button>
        <button class="pulsante" (click)="conferma()" *ngIf="conf">Conferma</button>
        <button class="pulsante" (click)="annulla()" *ngIf="annull">Annulla</button>
        <button class="pulsante" (click)="rimuovi()" *ngIf="remove">Rimuovi</button>
    </div>
    <h4>{{errore}}</h4>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Criterio Ricerca" [(ngModel)]="inputRicerca">
        <select [(ngModel)]="numeroRisultati">
            <option Value="2">2</option>
            <option Value="5">5</option>
            <option Value="10">10</option>
        </select>
        <button class="pulsante" (click)="cerca()">Cerca</button>
        <br>
    </div>
    <br><br>
    <div class="tabella" *ngIf="tabella">
        <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine"
            (cambiaPagina)="aggiornaRisultatiRicerca($event)">
        </app-app-paginate>

        <table>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
            <tr *ngFor="let p of listaProdotti">
                <td>{{p.codice}}</td>
                <td>{{p.descrizione}}</td>
                <td>{{p.prezzo}}</td>
                <td> <button class="pulsante" (click)="seleziona(p)">Seleziona</button></td>
            </tr>
        </table>
        <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine"
            (cambiaPagina)="aggiornaRisultatiRicerca($event)">
        </app-app-paginate>
    </div>