<body>
    <div class="barranav">
        <a href="app-home-page">Home page</a>
    </div>

    <div class="titolo">
        <h2>ANAGRAFICA COLORI GALLI</h2>
    </div>
    <br><br>
    <button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf='form'>
        <input type="text" placeholder="codice" [(ngModel)]="varianteColore.codice" [disabled]="codiceInput"> &nbsp;
        <input type="text" placeholder="descrizione" [(ngModel)]="varianteColore.descrizione" [disabled]="descrizione">&nbsp;
        <br><br>
        <button (click)="modifica()" *ngIf="edit">Modifica</button> &nbsp;
        <button (click)="conferma()" *ngIf="conf">Conferma</button> &nbsp;
        <button (click)="annulla()" *ngIf="annull">Annulla</button> &nbsp;
        <button (click)="rimuovi()" *ngIf="remove">Rimuovi</button> &nbsp;
    </div>
    <h4>{{errore}}</h4>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Criterio Ricerca" [(ngModel)]="inputRicerca">&nbsp;
        <button (click)="cerca()">Cerca</button>
        <br>
    </div>
    <br><br>
    <div class="tabella">
        <table *ngIf="tabella">
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Seleziona</th>
            </tr>
            <tr *ngFor="let vc of variantiColori">
                <td>{{vc.codice}}</td>
                <td>{{vc.descrizione}}</td>
                <td>
                    <button (click)="seleziona(vc)">Seleziona</button>
                </td>
            </tr>
        </table>
    </div>
</body>