<title>Ammazzon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<!-- menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
        style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>Progammatori<br>Esperti</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="app-home-page" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <!--<a href="/app-user-interface" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">User-Interface</a>-->
        <a href="app-anagrafica-taglia" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Anagrafica
            Taglia</a>
        <a href="app-anagrafica-colori-galli" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">Anagrafica Colori</a>
        <a href="app-anagrafica-utente-registrato" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">Anagrafica Utente Registrato</a>
    </div>
</nav>
<br><br>


<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="titolo">
        <h2>ANAGRAFICA COLORI GALLI</h2>
    </div>
    <br><br>
    <button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf='form'>
        <input type="text" placeholder="codice" [(ngModel)]="varianteColore.codice" [disabled]="codiceInput"> &nbsp;
        <input type="text" placeholder="descrizione" [(ngModel)]="varianteColore.descrizione"
            [disabled]="descrizione">&nbsp;
        <br><br>
        <button (click)="modifica()" *ngIf="edit">Modifica</button> &nbsp;
        <button (click)="conferma()" *ngIf="conf">Conferma</button> &nbsp;
        <button (click)="annulla()" *ngIf="annull">Annulla</button> &nbsp;
        <button (click)="rimuovi()" *ngIf="remove">Rimuovi</button> &nbsp;
    </div>
    <h4>{{errore}}</h4>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Criterio Ricerca" [(ngModel)]="inputRicerca">&nbsp;
        <button (click)="cerca()">Cerca</button>
        <br>
    </div>
    <br><br>
    <div class="tabella">
        <table *ngIf="tabella && variantiColori.length>0">
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Seleziona</th>
            </tr>
            <tr *ngFor="let vc of variantiColori">
                <td>{{vc.codice}}</td>
                <td>{{vc.descrizione}}</td>
                <td>
                    <button (click)="seleziona(vc)">Seleziona</button>
                </td>
            </tr>
        </table>
    </div>