<div class="menulaterale">
    <h3><a href="app-home-page">Home</a></h3>
    <h3><a href="app-anagrafica-taglia">Anagrafica taglia</a></h3>
    <h3><a href="app-anagrafica-colori-galli">Anagrafica Colori</a></h3>
    <h3><a href="app-anagrafica-utente-registrato">Anagrafica utente registrato</a></h3>
    <h3><a href="app-associa-colori-a-prodotti">Associa i colori ai prodotti</a></h3>
    <h3><a href="app-paginate-component">Paginate</a></h3>
    <h3><a href="app-associa-taglie-prodotti-colori">Associa taglie a prodotti e colori</a></h3>
    <h3><a href="app-anagrafica-prodotto">Anagrafica prodotto</a></h3>
</div>
<div class="contenuto">
    <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine" (primo)="primo($event)"
        (precedente)="precedente($event)" (numero)="numero($event)" (successivo)="successivo($event)"
        (ultimo)="ultimo($event)"></app-app-paginate>
    <hr>
    <form>
        <label for="cerca">Cosa stai cercando?</label>
        <br>
        <input type="text" id="cerca" name="cerca" [(ngModel)]="criterioRicerca">
        <button class="pulsante" (click)="cerca()">Cerca</button>
    </form>

    <br>
    <br>
    <table *ngIf="prodotti.length>0">
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let p of prodotti">
            <td>{{p.codice}}</td>
            <td>{{p.descrizione}}</td>
            <td>{{p.prezzo}}</td>
            <td><button class="pulsante" (click)="selezionaProdotto(p)">Seleziona</button></td>
        </tr>
    </table>
</div>
<br>
<br>
<div *ngIf="prodottiColore.length>0">
    <h3>Colori associati a prodotto: {{prodottoSelezionato.codice}}</h3>
    <table>
        <tr>
            <th>Codice colore</th>
            <th>Colore</th>
        </tr>
        <tr *ngFor="let pc of prodottiColore">
            <td>{{pc.varianteColore.codice}}</td>
            <td>{{pc.varianteColore.descrizione}}</td>
            <td><button class="pulsante" (click)="selezionaProdottoColore(pc)">Seleziona</button></td>
        </tr>
    </table>
</div>
<br>
<br>
<div *ngIf="coloriTaglie.length>0">
    <h4 *ngIf="taglieNonAssociate.length<1">
        {{prodottoSelezionato.codice}} {{prodottoColoreSelezionato.varianteColore.descrizione}}
        è disponibile in tutte le taglie!</h4>
    <h3>Taglie disponibili per {{prodottoSelezionato.codice}}
        {{prodottoColoreSelezionato.varianteColore.descrizione}}</h3>
    <table>
        <tr>
            <th>Codice</th>
        </tr>
        <tr *ngFor="let ct of coloriTaglie">
            <td>{{ct.varianteTaglia.codice}}</td>
            <td><button class="pulsante" (click)="rimuoviTagliaProdotto(ct)">rimuovi</button></td>
        </tr>
    </table>
    <br>
    <br>
    <button class="pulsante" (click)="disassociaTutti()">Disassocia tutti</button>
</div>
<br>
<div *ngIf="taglieNonAssociate.length>0">
    <h3 *ngIf="coloriTaglie.length<1">Nessuna taglia disponibile per
        {{prodottoSelezionato.codice}} {{prodottoColoreSelezionato.varianteColore.descrizione}}</h3>
    <button class="pulsante" (click)="associaTutti()">Associa tutti</button>
    <br>
    <br>
    <h4>Taglie non disponibili</h4>
    <table>
        <tr>
            <th>Codice</th>
        </tr>
        <tr *ngFor="let vt of taglieNonAssociate">
            <td>{{vt.codice}}</td>
            <td><button class="pulsante" (click)="associaTagliaProdottoColore(vt)">associa</button></td>
        </tr>
    </table>
</div>
{{messaggioErrore}}