<div class="menulaterale">
    <h3><a href="app-home-page">Home</a></h3>
    <h3><a href="app-anagrafica-taglia">Anagrafica taglia</a></h3>
    <h3><a href="app-anagrafica-colori-galli">Anagrafica Colori</a></h3>
    <h3><a href="app-anagrafica-utente-registrato">Anagrafica utente registrato</a></h3>
    <h3><a href="app-associa-colori-a-prodotti">Associa i colori ai prodotti</a></h3>
    <h3><a href="app-paginate-component">Paginate</a></h3>
    <h3><a href="app-associa-taglie-prodotti-colori">Associa taglie a prodotti e colori</a></h3>
    <h3><a href="app-anagrafica-prodotto">Anagrafica prodotto</a></h3>
</div>
<div class="contenuto">
    <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine" (primo)="primo($event)"
        (precedente)="precedente($event)" (numero)="numero($event)" (successivo)="successivo($event)"
        (ultimo)="ultimo($event)"></app-app-paginate>
    <hr>
    <button class="pulsante" (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br><br>
    <div *ngIf='form'>
        <input type="text" placeholder="taglia" [(ngModel)]="taglia.codice" [disabled]="codiceC">

        <br><br>
        <button class="pulsante" (click)="modifica()" *ngIf="edit">Modifica</button>
        <button class="pulsante" (click)="conferma()" *ngIf="conf">Conferma</button>
        <button class="pulsante" (click)="annulla()" *ngIf="annull">Annulla</button>
        <button class="pulsante" (click)="rimuovi()" *ngIf="remove">Rimuovi</button>
    </div>
    <h4>{{errore}}</h4>
    <br><br>
    <div *ngIf="search">
        <input type="text" placeholder="Criterio Ricerca" [(ngModel)]="inputRicerca">
        <button class="pulsante" (click)="cerca()">Cerca</button>
        <br>
    </div>
    <br><br>
    <div class="tabella">
        <table *ngIf="tabella">
            <tr>
                <th>Codice</th>
                <th>Seleziona</th>
            </tr>
            <tr *ngFor="let l of listaTaglie">
                <td>{{l.codice}}</td>
                <td> <button class="pulsante" (click)="seleziona(l)">Seleziona</button></td>
            </tr>
        </table>
    </div>
    <br><br>
    <app-app-paginate [pagina]="paginaCorrente" [totali]="numeroPagine" (primo)="primo($event)"
        (precedente)="precedente($event)" (numero)="numero($event)" (successivo)="successivo($event)"
        (ultimo)="ultimo($event)"></app-app-paginate>