<div>
    <input type="text" placeholder="Cerca il prodotto" [(ngModel)]="inputRicerca">&nbsp;
    <button (click)="cerca()">Cerca</button>
    {{messaggioErrore}}
    <br>
</div>
<br><br>
<div class="tabella" *ngIf="prodotti.length>0" >
    <h3>Elenco prodotti</h3>
    <table >
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let p of prodotti">
            <td>{{p.codice}}</td>
            <td>{{p.descrizione}}</td>
            <td>{{p.prezzo}}</td>
            <td>
                <button (click)="seleziona(p)">Seleziona</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="associazione">
    <h3>Colori già associati</h3>
    <br><br>
    <table *ngIf="  coloriAssociati.length > 0">
        <tr>
            <th>Descrizione Colore</th>
            <th>Descrizione Prodotto</th>
        </tr>
        <tr *ngFor="let c of coloriAssociati">
            <td>{{c.varianteColore.descrizione}}</td>
            <td>{{c.prodotto.descrizione}}</td>
            <td><button (click)="spostaNonAssociati(c)">></button></td>
        </tr>
    </table>
</div>
<br><br>
<div *ngIf="associazione">
    <button (click)="associaTutti()">Associa Tutti i Colori</button>
    <button (click)="disassociaTutti()">Disassocia Tutti i Colori</button>
</div>
<br><br>
<table *ngIf="associazione && elencoColoriNonAssociati.length > 0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Seleziona</th>
    </tr>
    <tr *ngFor="let vc of elencoColoriNonAssociati">
        <td>{{vc.codice}}</td>
        <td>{{vc.descrizione}}</td>
        <td>
            <button (click)="associaColore(vc)">Associa Colore</button>
        </td>
    </tr>
</table>