<title>Ammazzon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
        style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>Progammatori<br>Esperti</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="app-home-page" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <!--<a href="/app-user-interface" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">User-Interface</a>-->
        <a href="app-anagrafica-taglia" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Anagrafica
            Taglia</a>
        <a href="app-anagrafica-colori-galli" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">Anagrafica Colori</a>
        <a href="app-anagrafica-utente-registrato" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">Anagrafica Utente Registrato</a>
        <a href="app-associa-taglie-prodotti-colori" onclick="w3_close()"
            class="w3-bar-item w3-button w3-hover-white">Associa Taglie Prodotti Colori</a>
    </div>
</nav>
<br><br>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <input type="text" placeholder="Cerca il prodotto" [(ngModel)]="inputRicerca">&nbsp;
    <button (click)="cerca()">Cerca</button>
    {{messaggioErrore}}
    <br>
</div>
<br><br>
<div class="tabella" *ngIf="prodotti.length>0" >
    <h3>Elenco prodotti</h3>
    <table >
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let p of prodotti">
            <td>{{p.codice}}</td>
            <td>{{p.descrizione}}</td>
            <td>{{p.prezzo}}</td>
            <td>
                <button (click)="seleziona(p)">Seleziona</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="associazione">
    <h3>Colori già associati</h3>
    <br><br>
    <table *ngIf="  coloriAssociati.length > 0">
        <tr>
            <th>Descrizione Colore</th>
            <th>Descrizione Prodotto</th>
        </tr>
        <tr *ngFor="let c of coloriAssociati">
            <td>{{c.varianteColore.descrizione}}</td>
            <td>{{c.prodotto.descrizione}}</td>
            <td><button (click)="spostaNonAssociati(c)">></button></td>
        </tr>
    </table>
</div>
<br><br>
<div *ngIf="associazione">
    <button (click)="associaTutti()">Associa Tutti i Colori</button>
    <button (click)="disassociaTutti()">Disassocia Tutti i Colori</button>
</div>
<br><br>
<table *ngIf="associazione && elencoColoriNonAssociati.length > 0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Seleziona</th>
    </tr>
    <tr *ngFor="let vc of elencoColoriNonAssociati">
        <td>{{vc.codice}}</td>
        <td>{{vc.descrizione}}</td>
        <td>
            <button (click)="associaColore(vc)">Associa Colore</button>
        </td>
    </tr>
</table>